In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('hiring.csv')
dataset

   experience  test_score  interview_score  salary
0           1           8                9   50000
1           1           8                6   45000
2           5           6                7   60000
3           2          10               10   65000
4           7           9                6   70000
5           3           7               10   62000
6          10           7                7   72000
7          11           7                8   80000

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       8 non-null      int64
 1   test_score       8 non-null      int64
 2   interview_score  8 non-null      int64
 3   salary           8 non-null      int64
dtypes: int64(4)
memory usage: 388.0 bytes

In [5]:
dataset.isnull().sum()

experience         0
test_score         0
interview_score    0
salary             0
dtype: int64

In [19]:
dataset['experience'].fillna(0,inplace=True)
dataset['test_score'].fillna(dataset['test_score'].mean(),inplace=True)
dataset

   experience  test_score  interview_score  salary
0           1           8                9   50000
1           1           8                6   45000
2           5           6                7   60000
3           2          10               10   65000
4           7           9                6   70000
5           3           7               10   62000
6          10           7                7   72000
7          11           7                8   80000

In [24]:
x=dataset.drop('salary',axis=1)
y=dataset['salary']

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [26]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(x_train,y_train)

LinearRegression()

In [27]:
lr_model.coef_

array([3057.36981465, 1357.75228008, 3139.15857605])

In [28]:
lr_model.intercept_

11661.370991468088

In [29]:
train_predictions=lr_model.predict(x_train)
test_predictions=lr_model.predict(x_test)

In [30]:
lr_model.score(x_train,y_train) #trainR2

0.9410954831054379

In [31]:
lr_model.score(x_test,y_test) #trainR2

0.8881821979553548

In [32]:
from joblib import dump
dump (lr_model,'lr_model.joblib')

['lr_model.joblib']

In [33]:
from pickle import dump
dump (lr_model,open('lr_model.pkl','wb'))

In [34]:
new_data=pd.DataFrame({'experience':[0],'test_score':[9],'interview_score':[9]})
new_data

   experience  test_score  interview_score
0           0           9                9

In [35]:
from pickle import load
loaded_model=load(open('lr_model.pkl','rb'))
loaded_model.predict(new_data)

array([52133.56869668])